@page "{handler?}"
@* @page  *@
@model IndexModel
@{
    ViewData["Title"] = "";
}

<style type="text/css">
.connectionState.connected{
    color:green;
    font-weight:bold;
}
.connectionState.other
{
    color:initial;
    font-weight:bold;

}
.hide{
    display:none;
}
</style>

<form method="POST">

    <development>
        @Environment.MachineName[0]
    </development>    

    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Create Fitbit Activity for Daily Steps
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

<h2></h2>
<p>This App allows a user to create an activity on FitBit by entering only the number of steps taken each day.</p>
<p>I use a garmin watch to count my steps, but the  rest of my my family using Fitbit. I want to participate in my family's step leaderboard, so therefore I need a way to get my step counts into fitbit without the use of a fitbit device.</p>
<p>Fortunately, steps logged in fitbit's activity API count toward the step total in fitbit. I had been using the fitbit.com web interface to log these activities (the android interface does not allow for step data entry). To create an entry on fitbit's web interface, you must enter an activity type of
running or walking, a start time, a total time, and distance in steps.    
</p>
<p>This app log the start time as 12:00 AM, and the total time as 12:00:00 I feel this makese sense because our purpose is to capture our daily steps, and steps could be taken at anytime of the day,excluding some time for rest and sleep.</p>




@* Only show this button if we are not connected *@
@* TODO only show this below if we are not connected *@

@* Connection Indicator *@
@* Can we show the user's picture, name, so they can feel confident that they are accessing the correct acount?*@
<div>
@{
    var spnClass = "connectionState";
    if(@Model.ConnectionStateCode == 1){
        spnClass = "connectionState connected";
    }
    else
    {
        spnClass = "connectionState other";
    }
}
@Html.LabelFor(x => x.ConnectionState):
<label class="@spnClass">@Html.DisplayFor(x => x.ConnectionState)</label>


@if(!@Model.IsConnected)
{
<div is-visible="!@Model.IsConnected">
<a class="btn btn-primary" href="@Model.AuthorizationUrl">Connect to FitBit</a>
</div>
}

</div>

@if(Model.IsConnected)
{


<div class="form-group row">
    @Html.LabelFor(x => x.LastSevenDaysAverageSteps,new {@class = "col-sm-2 col-form-label"})
    <div class="col-sm-6">
      <input asp-for="LastSevenDaysAverageSteps" type="text" readonly class="form-control-plaintext">
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(x => x.LastSevenDaysSteps,new {@class = "col-sm-2 col-form-label"})
    <div class="col-sm-6" class="form-cont">
      <input asp-for="LastSevenDaysSteps" type="text" readonly class="form-control-plaintext">
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(x => x.ActivityDate,new {@class = "col-sm-2 col-form-label"})
    <div class="col-sm-6">
        <select asp-for="ActivityDate" asp-items="Model.AvailableDatesSelect" class="form-control"></select>
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(x => x.Steps, new {@class = "col-sm-2 col-form-label"})
    <div class="col-sm-6">
        <input asp-for="Steps" type="text" id="inSteps" class="form-control">
    </div>
</div>
<input class="btn btn-primary" asp-page-handler="CreateActivity" Value="Log Steps" type="submit" />

<br />
}
<br />
@Html.DisplayFor(x => x.SystemMessage)


      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Technical Details
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">


<h3></h3>

<p>Source Code for this App is available on github with linke below</p>
<p><a href="https://github.com/mje2/Garmin_To_Fitbit_Steps_Sync_Web">Link To Github Project</a>
<p>This app uses OAuth 2.0 Authorization Grant Flow to Authenticate to fitbit.</p>
<p>(1) Step 1 - request is made to an authorization URL - after the user logs in to fitbit, they are redirected back to this App </p>
<p>(2) Step 2 - This App makes a request using the Authorization Code to get an access token. </p>
<p>(3) Step 3 - The Access Toekn is used to make requests to read and write data using the allowed scopes.</p>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Other Tools
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          Get Daily Activities
        <input class="link-button" asp-page-handler="DailyActivities" Value="Get Activities" type="submit" />




<h2 style="display:none;">Development Buttons - used for debugging</h2>
<input class="link-button hide" asp-page-handler="ActivityTypes" Value="Get Activity Types" type="submit" />
          <input class="link-button hide" asp-page-handler="ActivityTypes" Value="Get Activity Types" type="submit" />
          <input class="" asp-page-handler="GetRefreshToken" Value="Get Refresh Token" type="submit" />
          <input class="" asp-page-handler="GetActivitiesList" Value="Get Activities List" type="submit" />


      </div>
    </div>
  </div>
</div>























@* Hidden Fields *@
@Html.HiddenFor(x => x.ConnectionStateCode)
@Html.HiddenFor(x => x.ConnectionState)
@Html.HiddenFor(x => x.Authorization.access_token)
@Html.HiddenFor(x => x.Authorization.refresh_token)
@Html.HiddenFor(x => x.Authorization.expires_in)
@Html.HiddenFor(x => x.Authorization.token_type)
@Html.HiddenFor(x => x.Authorization.user_id)
</form>